*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* header section*/

header{
    padding: 0 2rem;
    height: 4rem;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-width: 1100px;
}

.container-nav{
    width: 100%;
    line-height: calc(4rem - 4px);
    padding-top: 2px;
}

.container-nav ul{ 
    list-style: none;
}

.container-nav li{
    display: inline-block;
    margin: 0 1em;
}

.container-nav .logo{
    vertical-align: text-bottom;
}

.container-nav a{
    display: inline-block;
    color: black;
    text-decoration: none;
}

.container-nav a:hover{
    border-bottom: 2px solid black;
}

.container-nav .nav-sinistro li:first-child{
    margin-left: 0;
}

.container-nav .nav-destro li:first-child{
    margin-right: 0;
}

.nav-destro{
    float: right;
}

.nav-sinistro{
    float: left;
}

.btn{
    padding: 0.5rem 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 97, 255);
}

.container-nav .btn{
    display: inline;
    color: white;
}

.btn:hover{
    text-decoration: none;
    background-color: blue;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.container-nav .logo-link:hover, .container-nav .btn:hover{
    border-bottom: none;
}

/*  first section main */

.main{
    max-width: 1500px;
    background-color: rgb(180, 208, 231);
}

.col-centrato{
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.col-30{
    float: left;
    width: 30%;
}

.col-60{
    float: right;
    width: 60%;
}
 
.col-60 img{
    width: 100%;
}

.margin{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.fa-arrow-down{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: black;
}

/*  second section main*/

.centered{
    max-width: 900px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

/* h2 and circles*/

h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.cerchio-blu{
    display: inline-block;
    border: 5px solid blue;
    padding: 6px;
    border-radius: 50%;
    vertical-align: middle;
}

.cerchio{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 1rem;
}

.container-grande{
    width: 100%;
}

.col-main{
    width: calc((100% - 68px) / 3);
    border: 1px solid black;
    display: inline-block;
    margin-top: 2rem;
    float: left;
}

.col-main h3{
    font-size: 1.5rem;
}

.a-sinistra{
    height: 865px;
}
 
.centrale{
    margin-left:30px;
    margin-right: 30px;
}

.center{
    text-align: center;
    line-height: 3rem;
}

.mr-top-left{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 90%;
}

.mr-top-left div{
    margin-bottom: 1.5rem;
}

 .mr-top-left span{
     display: block;
 }

.mr-top-left div a, .h2-ristretto a{
    color: rgb(62, 129, 225);
    text-decoration: underline;
}

.mr-top-left section{
    margin-bottom: 1rem;
}

.mr-top-left .mr-1rem{
    margin-top: 1rem;
}

.mr-top-left .mr-3rem{
    margin-bottom: 3rem;
}

.mr-top-left > a{
    margin-bottom: 2rem;
}

.hr-small{
    background-color: lightgray;
    width: 30%;
    height: 2px;
    margin-top: 2rem;
}

.fa-check{
    color: rgb(0, 97, 255);
}

 .col-main h4, .col-bassa h4{
    font-size: 1.1em;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

 .fas-font{
     float: left;
     width: 10%;
 }

 .col-bassa{
     width: 100%;
     border: 1px solid black;
     margin-top: 3rem;
 }

 .col-bassa h3{
     margin-bottom: 1rem;
 }

 .a-float{
    float: right;
    display: inline-block;
    padding: 0.8em 3.5rem;
    margin-right: 2rem;
    color: white;
    background-color: rgb(0, 97, 255); 
 }

 /* Third section main*/

 .con-photo-text{
     width: 100%;
     margin-top: 100px;
 }

 .clearfix::after{
     content: "";
     display: table;
     clear: both;
 }

 .img-partner{
     width: 50%;
     float: left;
 }

 .img-partner img{
     width: 100%;
 }

 .text-partner{
     float: left;
     width: calc(50% - 3em);
     margin-top: 3em;
     margin-left: 3em;
 }

 .text-partner p{
     margin-top: 2rem;
     margin-bottom: 1.5rem;
 }

 .btn-white{
     background-color: white;
     color: black;
     border: 1px solid black;
 }

 .btn-white:hover, .btn-white2:hover{
     background-color: lightgray;
 }

 /* Fourth section main*/

 .h2-margin{
     margin-top: 5rem;
 }

 .col-drp-buisness{
     width: 100%;
 }

 .second{
     margin-top: 5rem;
 }
 .cartella{
     width: calc((100% - 68px) / 3);
     display: inline-block;
 }

 .col-drp-buisness img{
     width: 100%;
 }

.cartella p{
    margin-top: 1rem;
}

 .cartella span{
     text-decoration: underline;
 }
 
/* H2 500.00*/

.h2-ristretto{
    width: 45%;
    margin-top: 150px;
    margin-bottom: 3rem;
}

/* Fifth section main quadrati*/

.con-quadrati{
    max-width: 1500px;
    height: 350px;
    background-color: rgb(245, 245, 245);
}

.quadrati{
    width: 30%;
    height: 350px;
    display: inline-block;
    position: relative;
    float: left;
}

.designit-centrale{
    width: 39%;
    display: inline-block;
    float: left;
}

.designit-centrale img{
    width: 20%;
}

.designit-centrale p{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.designit-centrale .hr-small{
    width: 10%;
}

.destra{
    float: right;
}

.quadratini{
    width: 50%;
    height: 50%;
    display: inline-block;
    float: left;
    position: relative;
}

svg{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designit path{
    fill: white;
}

.verde{
    background-color: rgb(162, 211, 155);
}

.blu{
    background-color: rgb(0, 148, 206);
}

.marrone{
    background-color: rgb(97, 10, 43);
}

.rosso{
    background-color: rgb(255, 28, 28);
}

.rosso-scuro{
    background-color: rgb(213, 1, 31);
}

.grigio{
    background-color: rgb(180, 208, 231);
}

.blu-scuro{
    background-color: rgb(13, 36, 129);
}

.giallo{
    background-color: rgb(255, 215, 47);
}

.bordo{
    border: 10px solid rgb(208, 233, 204);
}

.quadratini img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

/* Sixth section main*/

.contenitore-azzurro{
    max-width: 1500px;
    height: 300px;
    background-color: rgb(180, 208, 231);
    position: relative;
}

.con-azzurro-piccolo{
    width: 80%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -40%);
}

.con-azzurro-piccolo .col-60{
    float: left;
    width: 40%;
}

.con-azzurro-piccolo .col-30{
    float: right;
}

.btn-white2{
    background-color: white;
    color: black;
    padding: 0.5rem 2.5rem;
}

 /* Last section main*/

 .last-container-main{
     max-width: 1500px;
     margin-bottom: 100px;
     margin: 120px 0;
 }

 .last-container-piccolo{
     width: 70%;
     margin: auto;
 }

 .last-container-piccolo h3{
    font-size: 1.5rem;
 }

 .last-container-piccolo .fa-chevron-down{
     float: right;
     margin-right: 2rem;
 }

 .last-container-piccolo p{
     display: none;
 }

 .mr-top-bottom:hover p{
     display: block;
 }

 .mr-top-bottom > *{
     margin: 2rem 0;
 }

 .width-p{
     width: 80%;
     color: gray;
 }

 .width-p a{
     color: grey;
     text-decoration: underline;
 }

 /* Footer*/

 footer{
     max-width: 1500px;
     min-width: 1500px;
     background-color: black;
     padding-top: 2rem;
 }

 .footer-box{
     width: 80%;
     margin: auto;
     color: grey;
 }

 .footer-box ul{
     list-style: none;
     display: inline-block;
 }

 .col-footer{
     float: left;
     margin-left: 5rem;
 }

 .col-footer a {
     color: white;
     font-size: 80%;
 }

 .col-footer a:hover{
     text-decoration: underline;
 }

 .col-footer li{
     margin-bottom: 0.5rem;  
 }

 .col-footer h4{
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: white;
 }

 .col-footer .hr-grey{
     margin-top: 3rem;
     margin-bottom: 2.5rem;
     width: 100%;
     background-color: gray;
     height: 2px;
 }

 .fa-sort-up{
     vertical-align: text-bottom;
 }