*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
header{
    margin: 20px 0;
    position: sticky;
}

.container{
    max-width: 1500px;
}

.container .logo-nav{
    vertical-align: middle;
    padding-left: 2rem;
    line-height: 1rem;
}

.nav-principale, .nav-principale li, .btn-inizia, .logo-nav{ 
    display: inline-block;
}

.nav-principale ul{ 
    list-style: none;
}

.nav-principale li{
    display: inline-block;
    padding: 0 1em;
}

.btn{
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(0, 97, 255);
    display: inline-block;
}

.btn-inizia{
    float: right;
    padding-right: 1rem;
    line-height: 1rem;
}

.btn:hover{
    text-decoration: none;
    color: lightblue;
}

.destro{
    float: right;
    line-height: 1.7em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main{
    max-width: 1500px;
    background-color: rgb(180, 208, 231);
}

.col-centrato{
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.col-30{
    float: left;
    width: 30%;
}

.col-60{
    float: right;
    width: 60%;
}
 
.col-60 img{
    width: 100%;
}

.margin{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.fas{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.centered{
    max-width: 900px;
    background-color: lightsalmon;
    margin: 150px auto;
}

h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.cerchio{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.cerchio-blu{
    display: inline-block;
    border: 5px solid blue;
    padding: 6px;
    border-radius: 50%;
    vertical-align: middle;
}

.col-main-piccolo{
    width: calc((100% - 70px) / 3);
    margin: 0 10px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

.col-main-piccolo div{
    padding: 0.8rem 0;
}

